/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */

html {
    overflow-x: hidden;
}

body {
    color: #5a5a5a;
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
}

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.app_holder {
    background: #fff;
}

.app_holder .card_holder {
    max-width: 500px;
    min-height: 400px;
    height: auto;
}

.app_holder .card_holder .btn-primary {
    color: #fff;
    background-color: #df7ebe;
    border: none;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

button:active,
input:active,
textarea:active,
button:focus,
input:focus,
textarea:focus {
    outline: none;
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #cc3499;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.week_number {
    margin-top: 100px;
    color: #d450a7;
    font-size: 38px;
}

.week_desc_text {
    font-size: 18px;
    width: 90%;
    line-height: 1.5;
    margin: auto;
}

.video_holder video {
    max-width: 90%;
    padding: 0 50px;
}

.col-sm-6.col-sm-offset-3.video_holder {
    width: 100%;
    margin: auto;
    margin-top: 30px;
    float: none;
}

.download_links_holder {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.campus_week img,
.artwork-container img {
    width: 100%;
}

.download_links_holder button {
    background: #333;
    border: none;
    line-height: 2;
    color: #fff;
    border-radius: 5px;
}

.artwork-container {
    max-width: 300px;
    margin: 50px auto;
    float: none;
}


/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper>.container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-inverse {
    background-color: #fff;
    border-bottom: none;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #3e4347;
    background-color: transparent;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a {
    color: #3e4347;
    line-height: 76px;
    padding: 0 10px;
}

.bg-bubbles {
    overflow: hidden;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: initial;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

header .navbar-brand {
    max-width: 135px;
    height: auto;
    padding: 10px 30px;
}

header .navbar-brand img {
    width: 100%;
}

#navbar {
    width: calc(100% - 170px);
    float: right;
    margin-right: 50px;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #3e4347;
    background-color: transparent;
}

.navbar-image {
    height: 50px;
}

.navbar-toggle {
    background-color: #de7ebe;
    margin-top: 20px;
}

.navbar-inverse .navbar-toggle {
    border: none;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #ce3a9c;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: #3e4347;
    line-height: 76px;
    padding: 0 10px;
    /* border-top: solid 1px#ce3a9c; */
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Carousel base class */

.carousel {
    height: 70vh;
    margin-bottom: 0;
}


/* Since positioning the image, we need to help out the caption */

.carousel-indicators {
    z-index: 4;
}

.carousel-caption {
    position: relative;
    left: 0;
    bottom: 0;
    right: auto;
    display: table;
    vertical-align: middle;
    height: 100%;
    z-index: 10;
    padding: 0;
    width: 100%;
}

.carousel-inner .container {
    height: 100%;
    width: 100%;
    padding: 0;
}

.carousel-caption h1 {
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    margin: 0;
    line-height: 1.4;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.carousel-caption h1 span {
    display: block;
    font-size: 26px;
    font-weight: 400;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: none;
    background: #97989a;
    border-radius: 10px;
}


/* Declare heights because of positioning of img element */

.carousel .item {
    height: 100%;
}

#myCarousel {
    background: url('../img/Campus_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 75px;
}

#carousel_filter {
    background: transparent;
    height: 100%;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
    height: 100%;
}

.carousel-inner>.item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.item img {
    width: 80%;
}


/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing_content {
    max-width: 1150px;
    margin: auto;
}

.marketing .col-lg-4 {
    text-align: center;
    padding: 0;
    position: relative;
    top: 0;
    /* width: 30%;
    margin: 1.6%; */
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
    width: 30%;
    margin: 1.6%;
    float: left;
}

.marketing h2 {
    font-weight: normal;
    background: #244153;
    color: white;
    margin-top: 0px;
    margin-bottom: 0;
    overflow: hidden;
    font-size: 20px;
}

.marketing h2 a {
    line-height: 45px;
    display: block;
    color: #fff;
    font-size: 18px;
}

.overlay_div {
    background: rgba(28, 65, 88, 0.60);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.marketing .row {
    margin: 100px 0;
}

.marketing .col-lg-4 p {
    position: absolute;
    top: 0px;
    line-height: 1.5;
    font-size: 18px;
    left: 0px;
    right: 0;
    bottom: 45px;
    width: 100%;
    text-align: center;
    margin: auto;
    color: #fff;
    background: #091f31b0;
    padding: 50px 30px;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.marketing_img_holder {
    height: 180px;
    max-height: 180px;
    overflow: hidden;
}

.marketing .col-lg-4 img {
    width: 100%;
    height: auto;
}


/* SELF REALIZATION 
--------------------------------------------------*/

.self_realization {
    position: relative;
    background: url('../img/Self_realization__3rd.jpeg');
    color: #fff;
    background-position: center;
    padding: 100px 0;
    padding-top: 70px;
}

.self_realization .row {
    max-width: 1150px;
    margin: auto;
}

.self_realization hr {
    width: 10%;
    border-top: 3px solid #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.self_realization h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 15px;
    color: #fff;
    margin-bottom: 40px;
}

.self_realization h3 {
    text-align: center;
    border: solid 3px #fff;
    width: 80%;
    margin: auto;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.self_realization h3 a {
    color: #244153;
    display: block;
    line-height: 50px;
    font-size: 18px;
    cursor: default;
    background: #fff;
}


/* welcome from the world */

.wfromthew {
    /* background: url('img/healthy_mind_in_healthy_body.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.wfromthew hr,
.experts hr,
.campus_box hr,
.contact hr,
.donations_content hr {
    width: 10%;
    border-top: 3px solid #264153;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact {
    position: relative;
}

.contact hr {
    width: 90px;
}

#contact_name,
#contact_email {
    width: 65%;
}

.contact textarea {
    display: block;
    width: 65%;
    border-radius: 3px;
    margin-bottom: 30px;
    resize: none;
    border: 1px solid #ccc;
    position: relative;
    z-index: 4;
}

.wfromthew .row {
    position: relative;
    max-width: 1150px;
    margin: auto;
    z-index: 4;
}

.experts .col-lg-2 {
    float: none;
    text-align: center;
    display: inline-block;
    z-index: 10;
    background: #ffffffa1;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    margin: 1%;
}

.experts .col-lg-2 h3 {
    font-size: 15px;
    color: #333;
    margin-top: 10px;
}

.wfromthew h2,
.experts h2,
.campus_box_title,
.contact_title,
.donations_content h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;
    color: #254153;
    font-size: 30px;
}

.wfromthew .img-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container.wfromthew {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 100px 0;
}

.half_logo_right {
    position: absolute;
    right: 0;
    top: 50%;
    width: 100px;
    margin-top: -100px;
}

.half_logo_right img,
.half_logo_left img {
    width: 100%;
}

.half_logo_left {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100px;
    margin-top: -100px;
}

.wfromthew .img-wrapper {
    width: 100%;
    margin: 0 auto;
    height: 180px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.wfromthew .img-wrapper img {
    width: 100%;
    opacity: 0.8;
}

.wfromthew .img-wrapper p {
    position: absolute;
    top: 50%;
    display: block;
    text-align: center;
    background: #eeeeeeeb;
    width: 80%;
    margin: 0 auto;
    left: 10%;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    color: #264153;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    margin-top: -25px;
}


/* healthy mind */

.healthymind {
    position: relative;
    background: url('../img/healthymind.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 60px 0 100px 0;
}

.healthymind hr,
.our_partners hr {
    width: 10%;
    border-top: 3px solid #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.healthymind h2,
.our_partners_title {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    color: #fff;
}

.healthymind h2 {
    margin-bottom: 40px;
}

.healthymind p {
    color: #244153;
    display: block;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: default;
    background: #fff;
    text-align: center;
    border: solid 3px #fff;
    width: 80%;
    margin: auto;
    border-radius: 3px;
}

.partner_img {
    height: 166px;
    width: 166px;
}

.healthymind .row {
    max-width: 1150px;
    margin: auto;
}

.healthymind .img-wrapper {
    width: 100%;
    margin: 0 auto;
    height: 180px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0);
}

.healthymind .img-wrapper img {
    width: 100%;
    opacity: 0.8;
}

.healthymind .img-wrapper p {
    position: absolute;
    top: 50%;
    display: block;
    text-align: center;
    background: #fff;
    width: 80%;
    margin: 0 auto;
    left: 10%;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    color: #264153;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    margin-top: -25px;
}


/* experts 
-------------------------------------------------- */

.experts {
    position: relative;
    padding: 60px 0 100px 0;
    background: #eee;
    border-bottom: 4px solid #fff;
}

.experts h2 {
    font-size: 30px;
    color: #264153;
    margin-top: 0;
    margin-bottom: 45px;
}

.experts_img_holder {
    margin: auto;
    height: 120px;
    width: 120px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.experts_img_holder img {
    width: 100%;
}

.experts>.col-lg-2 {
    width: 200px;
    height: 200px;
    background: #fff;
    float: none;
    display: inline-block;
    border-radius: 50%;
    margin: 20px;
    margin-top: 0;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.experts .row {
    max-width: 1150px;
    margin: auto;
}


/* donations
-------------------------------------------------- */

.donations {
    position: relative;
    background: #fff;
    color: #fff;
    padding: 60px 0 100px 0;
    border-bottom: 4px solid #fff;
}

.donations label {
    color: #0000009c;
}

.donation_amount_label {
    display: block;
    margin: 20px auto;
}

.donations_content {
    position: relative;
    z-index: 4;
}

.donations_content button,
.campus_box .btn {
    background: rgb(86, 210, 1);
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
    font-size: 20px;
    text-transform: uppercase;
    width: 200px;
    font-weight: bold;
    line-height: 30px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.popup2 .wrapper button {
    background: #d442c6;
    font-size: 15px;
    color: #fff;
    border: none;
}

.popup2 .wrapper button:nth-of-type(5) {
    width: 100px;
}

.contact button {
    background: #55d201;
    color: #fff;
    width: 150px;
    line-height: 30px;
    border: none;
    font-size: 18px;
}

.contact button:hover {
    background: #55d201;
    color: #fff;
}

.donations_content button:hover,
.campus_box .btn:hover {
    color: #fff;
    background-color: rgb(80, 183, 90);
    border-color: #fff;
}

.donations_content h3 {
    margin-bottom: 55px;
}

.donations h2 {
    padding: 30px 0px;
}


/* campus_box
-------------------------------------------------- */

.campus_box {
    position: relative;
    background: #eee;
    padding: 60px 0 100px;
}

.campus_box .btn {
    width: auto;
    margin: 50px auto;
}

.campus_box_content {
    max-width: 1150px;
    margin: auto;
    font-size: 18px;
    color: #777;
    position: relative;
    z-index: 5;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 3px;
}

.campus_box small {
    padding-bottom: 20px;
    display: block;
}


/* partners
-------------------------------------------------- */

.our_partners {
    position: relative;
    background: #eee;
    padding: 60px 0 100px;
    background: url('../img/Self_realization__3rd.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    background-position: center;
}

.our_partners_content {
    position: relative;
    z-index: 4;
    color: #fff;
    max-width: 1150px;
    margin: auto;
}

.our_partners h2 {
    padding: 20px 0;
}


/* MY CAMPUS PAGE STYLES 
======================== */

.myCampus_main {
    min-height: 100vh;
}

span.campus_week_img {
    width: 160px;
    margin: auto;
    height: 160px;
    overflow: hidden;
}


/* .myCampus_main+footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
} */

.myCampus_main .campus_week a {
    display: block;
    font-size: 17px;
    color: #464646;
    background: #eee;
    padding: 10px;
    border-radius: 3px;
}

.myCampus_main h1 {
    margin-top: 100px;
    color: #d450a7;
    font-size: 38px;
}

.campus_week span {
    display: block;
    margin-top: 10px;
}

.myCampus_main .col-sm-3 .campus_week {
    height: 250px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
}


/* FOOOTER STYLES 
======================= */

footer {
    background: #173448;
    padding: 30px;
    margin-top: 0;
    color: #fff;
    line-height: 1;
    z-index: 4;
    position: relative;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
}

i.fa.fa-caret-up {
    font-size: 36px;
    line-height: 1;
    color: #cc3499;
    background: rgba(255, 255, 255, 0.9);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100000;
}


/* popup styles 
======================== */

.popup {
    background: rgba(100, 100, 100, 0.6);
    position: fixed;
    display: none;
    z-index: 5000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.popup>div {
    border-radius: 10px;
    position: fixed;
    background: #fff;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
    /* padding: 30px 15px; */
    /* Width of popup can be changed */
    width: 100%;
    /* max-width: 600px; */
    z-index: 5001;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
    background: #fff;
}

.popup .col-lg-2 {
    display: inline-block;
}

.popup .wrapper {
    position: relative;
    max-width: 700px;
    padding: 30px;
}

.popup2 .wrapper {
    position: relative;
    max-width: 1000px;
}

.popup button {
    margin: 10px auto;
}

.popup .donation_btn {
    display: block;
    float: none;
    width: auto;
    background: #cacaca;
}

.partner_holder img {
    width: 100%;
}

p.partner_name {
    margin-top: 20px;
    font-size: 15px;
}

button.close_popup,
button.close_popup.btn.btn-danger.center-block {
    position: absolute;
    top: -10px;
    right: 0;
    width: auto;
    background: transparent;
    box-shadow: none;
    color: #e07272;
    line-height: 1;
    font-size: 40px;
    border: none;
}

button.close_popup:hover {
    background-color: transparent;
    color: #e07272;
}

.popup2 .col-lg-2 {
    display: inline-block;
    float: none;
    margin: 20px 0;
    width: auto;
}

.btn-danger.focus,
.btn-danger:focus {
    background: transparent;
    color: #e07272;
}

.donation_btn_other.btn-default {
    color: #ffffff;
    background-color: #74d248;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
}

input.form_group.other_amount {
    line-height: 30px;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: inline-block;
    width: 200px;
    color: #777;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
}

.euros_text {
    margin-left: 5px;
    font-size: 20px;
    color: #777;
}

.label_custom_donate {
    color: #777;
    display: block;
    text-align: center;
}

.custom_donate_holder {
    margin-top: 10px;
}

.popup2 {
    background: rgba(100, 100, 100, 0.6);
    position: fixed;
    display: none;
    z-index: 5000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.popup2>div {
    border-radius: 10px;
    position: fixed;
    background: #fff;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 15px;
    width: 70%;
    max-width: 600px;
    z-index: 5001;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
}

.popup2 .btn-danger {
    margin: 10px auto;
}

.require-validation {
    display: none;
}

.contact {
    background: #fff;
    padding: 60px 0 100px 0;
    border-top: 3px solid #fff;
}


/* login /register */

.panel-default {
    margin-top: 150px;
}

.wrapper1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

.wrapper1 ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

.wrapper1 :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}

.wrapper1 ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}

.wrapper1 :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

.wrapper1 {
    background: #cc359a;
    background: -webkit-linear-gradient(top left, #d040a0 0%, #cc359a 100%);
    background: -moz-linear-gradient(top left, #d040a0 0%, #cc359a 100%);
    background: -o-linear-gradient(top left, #d040a0 0%, #cc359a 100%);
    background: linear-gradient(to bottom right, #d040a0 0%, #cc359a 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: static;
    min-height: 94vh;
    display: block;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
}

.wrapper1 .form-success .container1 h1 {
    transform: translateY(85px);
}

.wrapper1 .container .btn-primary:hover {
    color: red;
}

.container1 {
    max-width: 600px;
    margin: 0 auto;
    /* height: 400px; */
    text-align: center;
    padding-bottom: 0;
    vertical-align: middle;
    position: relative;
    z-index: 20;
}

.container1 h1 {
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-put;
    font-weight: 200;
    margin-top: 100px;
}

.login_form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

.login_form input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

.login_form input {
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
}

.login_form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.login_form input:focus {
    background-color: white;
    color: #cc359a;
}

.login_form button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #cc359a;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

.login_form button:hover {
    background-color: #f5f7f9;
    color: #cc359a;
}

.container1 a {
    color: #fff;
    text-decoration: none;
}

.login-form input:-webkit-autofill,
{
    background-color: rgb(255, 255, 255) !important;
}

.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.05);
    bottom: 0px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
    left: 10%;
    bottom: -20px;
}

.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
    left: 25%;
    animation-delay: 2s;
}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
    left: 70%;
}

.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 15s;
    animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    animation-delay: 11s;
}

.btn .btn-link{
    z-index: 5;
    position: relative;
}

@-webkit-keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper .container {
        padding-right: 0;
        padding-left: 0;
        max-width: 1150px;
        margin: auto;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 0;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}

@media (max-width: 1200px) {
    .wfromthew .row .col-lg-4 {
        max-width: 500px;
        margin: auto;
        margin-bottom: 30px;
    }
    .healthymind .col-lg-4 {
        max-width: 500px;
        margin: auto;
        margin-bottom: 30px;
    }
    .campus_box_content {
        max-width: 90%;
    }
    .col-lg-2.partner_holder {
        max-width: 200px;
        margin: 50px auto;
    }
    .self_realization .col-lg-4 {
        max-width: 500px;
        margin: auto;
        margin-bottom: 30px;
    }
    .healthymind .img-wrapper {
        width: 300px;
        height: 150px;
        margin-bottom: 30px;
    }
}

@media (max-width: 1127px) {
    .marketing .col-lg-4 {
        float: none;
        margin: auto;
        margin-bottom: 30px;
        width: 340px;
    }
    .our_partners {
        position: relative;
        background: #eee;
        padding: 60px 0 100px;
        background: url(../img/Self_realization__3rd.jpeg);
        color: #fff;
        background-position: right top;
        background-size: cover;
    }
}

@media (max-width: 950px) {
    .carousel-caption h1 {
        font-size: 20px;
    }
    .experts .col-lg-2 {
        width: 35%;
    }
    .carousel-caption h1 span {
        font-size: 17px;
    }
    .myCampus_main h1 {
        font-size: 30px;
    }
    .jumbotron .h1,
    .jumbotron h1 {
        font-size: 40px;
    }
    .container .jumbotron,
    .container-fluid .jumbotron {
        margin-top: 100px;
    }
}

@media (max-width: 768px) {
    #navbar {
        width: 100%;
        float: none;
        text-align: center;
        margin-right: 0;
        margin-left: 0;
    }
    .experts .col-lg-2 {
        width: 90%;
    }
    .campus_box .btn {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    #contact_name,
    #contact_email,
    .contact textarea {
        width: 100%;
        z-index: 10;
        position: relative;
        background: rgba(255, 255, 255, 0.9);
    }
    .video_holder video {
        max-width: 95%;
        padding: 0;
    }
    footer .pull-right {
        float: none !important;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    footer p {
        text-align: center;
    }
    .carousel-inner {
        width: 100%;
    }
    .self_realization h2,
    .wfromthew h2,
    .experts h2,
    .campus_box_title,
    .contact_title,
    .donations_content h3,
    .healthymind h2,
    .our_partners_title {
        font-size: 25px;
    }
    i.fa.fa-caret-up {
        right: 10px;
    }
}

@media (max-width: 550px) {
    .carousel-caption h1 {
        font-size: 15px;
    }
    .popup2 h2 {
        font-size: 15px;
    }
    .carousel-caption h1 span {
        font-size: 13px;
    }
}

@media (max-width: 440px) {
    .carousel-caption h1 {
        font-size: 15px;
        height: 300px;
        line-height: 1.6;
        width: auto;
    }
    .marketing .col-lg-4,
    .healthymind .img-wrapper {
        width: 90%;
    }
}

@media (max-height: 600px) {
    .navbar-inverse .navbar-nav>li>a {
        line-height: 3;
    }
    .myCampus_main+footer {
        position: static;
    }
}

@media (max-height: 400px) {
    .navbar-inverse .navbar-nav>li>a {
        line-height: 2;
    }
}

#payment-form2 {
    display: none;
}

#payment-form2 label {
    margin: 15px 0;
}

@media screen and (min-width: 768px) bootstrap.css:4993 .container .jumbotron,
.container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    margin-top: 90px;
}