/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    overflow-x: hidden;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}


/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper>.container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-inverse {
    background-color: #091f31f2;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #08080830;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    ;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #0000002b;
}

.navbar-image {
    height: 50px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Carousel base class */

.carousel {
    height: 500px;
    margin-bottom: 60px;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
}

.carousel-caption h1 {
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    margin-bottom: 93px;
}


/* Declare heights because of positioning of img element */

.carousel .item {
    height: 500px;
}

#myCarousel {
    background: url('../img/Campus_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 62%;
}

#carousel_filter {
    background: #091f31b0;
}

.carousel-inner>.item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.item img {
    width: 80%;
}


/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
    padding: 0;
}

.marketing h2 {
    font-weight: normal;
    background: #091f31;
    height: 75px;
    color: white;
    margin-top: 0px;
    line-height: 75px;
    margin-bottom: 0;
    overflow: hidden;
    /* ^ skloni ovo */
}

.marketing .col-lg-4 {
    position: relative;
    top: 0;
}

.marketing .col-lg-4 p {
    position: absolute;
    top: 0px;
    line-height: 2em;
    font-size: 23px;
    left: 0px;
    right: 0;
    bottom: 75px;
    width: 100%;
    text-align: center;
    margin: auto;
    color: white;
    background: #091f31b0;
    padding: 5% 2%;
    opacity: 0;
    transition: opacity 0.3s linear
}

.marketing_img_holder {
    height: 200px;
}

.marketing .col-lg-4 img {
    width: 100%;
    height: 100%;
}


/* SELF REALIZATION 
--------------------------------------------------*/

.self_realization {
    background: url('../img/Self_realization__3rd.jpeg');
    color: #fff;
    background-position: center;
}

.self_realization hr {
    width: 10%;
    border-top: 5px solid #fff;
}

.self_realization h2 {
    text-transform: uppercase;
    font-weight: bold;
    width: 30%;
    margin: 0 auto;
    border-radius: 15px;
    color: #091f31;
}

.self_realization h3 {
    text-align: center;
    border: solid 3px #fff;
    width: 80%;
    margin: 75px auto;
    border-radius: 30px;
    line-height: 50px;
    background: #ffffff90;
    color: #091f31;
    font-weight: bold;
}

.self_realization h3:hover {
    background: white;
    color: black;
    font-weight: bold;
}


/* welcome from the world */

.wfromthew {
    /* background: url('img/healthy_mind_in_healthy_body.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.wfromthew hr {
    width: 10%;
    border-top: 5px solid #000;
}

.wfromthew h2 {
    text-transform: uppercase;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.wfromthew .img-wrapper {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    position: relative;
}

.wfromthew .img-wrapper img {
    width: 100%;
    height: 200px;
}

.wfromthew .img-wrapper p {
    position: absolute;
    top: 20%;
    display: block;
    text-align: center;
    background: #1516434a;
    color: #091f31;
    width: 80%;
    margin: 0 auto;
    left: 10%;
    line-height: 75px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 30px;
}


/* healthy mind */

.healthymind {
    background: url('../img/healthy_mind_in_healthy_body.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.healthymind .row {
    background: #070719a8;
}

.healthymind hr {
    width: 10%;
    border-top: 5px solid #000;
}

.healthymind h2 {
    text-transform: uppercase;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.healthymind .img-wrapper {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    position: relative;
}

.healthymind .img-wrapper img {
    width: 100%;
    height: 200px;
}

.healthymind .img-wrapper p {
    position: absolute;
    top: 20%;
    display: block;
    text-align: center;
    background: #1516434a;
    width: 80%;
    margin: 0 auto;
    left: 10%;
    line-height: 75px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 30px;
}


/* experts 
-------------------------------------------------- */

.experts {
    background: #eee;
}

.experts h3 {
    font-size: 30px;
    color: #000;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 45px;
}

.experts img {
    width: 100px;
}


/* donations
-------------------------------------------------- */

.donations h2 {
    padding: 30px 0px;
}


/* campus_box
-------------------------------------------------- */

.campus_box {
    background: #eee;
}

.campus_box small {
    padding-bottom: 20px;
    display: block;
}


/* partners
-------------------------------------------------- */

.our_partners {
    background: #eee;
}

.our_partners h2 {
    padding: 20px 0;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}

@media (min-width: 992px) {}


/* MY CAMPUS PAGE STYLES 
======================== */

.myCampus_main h1 {
    margin: 75px 0;
}

.myCampus_main .col-sm-3 .campus_week {
    border: solid 1px #000;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
}


/* FOOOTER STYLES 
======================= */

footer {
    background: #162A3C;
    padding: 30px;
    margin-top: 30px;
    color: #fff;
}


/* popup styles 
======================== */

.popup {
    background: rgba(100, 100, 100, 0.6);
    position: fixed;
    display: none;
    z-index: 5000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.popup>div {
    border-radius: 10px;
    position: fixed;
    background: #fff;
    box-shadow: 0px 0px 15px 0px #162A3C;
    padding: 30px 15px;
    /* Width of popup can be changed */
    width: 70%;
    max-width: 600px;
    z-index: 5001;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
    border: 5px solid #162A3C;
}

.popup button {
    margin: 10px auto;
}

.popup2 {
    background: rgba(100, 100, 100, 0.6);
    position: fixed;
    display: none;
    z-index: 5000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.popup2>div {
    border-radius: 10px;
    position: fixed;
    background: #fff;
    box-shadow: 0px 0px 15px 0px #162A3C;
    padding: 30px 15px;
    /* Width of popup can be changed */
    width: 70%;
    max-width: 600px;
    z-index: 5001;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
    border: 5px solid #162A3C;
}

.popup2 .btn-danger {
    margin: 10px auto;
}